@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

footer{
    @extend .sass-seo;
    @include flexibilizar-centrar;
    a{
        @include estilos-de-anclas;
    }
}