@import "../variables/variables";

header{
    background-color: $color;
    nav{
        text-align: center;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        background-color: $black;
        
        a{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
            background-color: $color;
        }
    }
}